
// Required
@import "node_modules/bootstrap/scss/functions";
@import "variables.scss";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";


// My own custom styles
a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0 0 1rem 0;
}

h2 {
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
h5 {
    font-size: 1rem;
    padding: 0;
    margin: 0 0 2rem 0;
}

.link {
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $blue;
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem 0 auto;

    i {
        margin: 0 .5rem;
        font-size: 1.2rem;
    }
}

p, li {
    line-height: 140% !important;
}

svg {
    width: 100%;
    max-width: 600px;
    height: auto;
}

p {
    max-width: 700px;
}

a {
    color: $blue;
    transition: .25s ease-in-out;
}
a:hover {
    color: $darkblue;
}

html {
    scroll-behavior: smooth;
}

body {
    font-display: swap;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: $black;
}

main {
    margin: 0;
    padding: 0;
}

.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}

.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: $darkerblue;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

// navbar
nav {
    padding: .6rem 1rem !important;
    transition: .35s ease-in-out;

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.15rem;
    }
    .icon {
        max-width: 35px;
        height: auto;
        margin-right: .5rem;
    }
    .navbar-light .navbar-brand {
        font-weight: 700;
    }
}
.bg-dark {
    background-color: $darkblue !important;
}
.navbar-toggler {
    padding: 0;
    font-size: 1.5rem;
}
.navbar-dark .navbar-toggler {
    border: none;
    color: $white !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, .8);
    font-size: 1.1rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: $white;
}

// header
header {
    padding: 60px 0 0 0;
    width: 100vw;
    height: auto;
    position: relative;
    background-color: $white;
    z-index: 5;

    svg {
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }

    .heading {
        text-align: center;
        padding: 3.5rem 1.5rem;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }

    .header-box {
        padding: 1.5rem;
        width: 75vw;
        background-color: $lightblue-bg;
        margin: 0 auto;
        text-align: center;
        position: relative;
        top: -6px;
        box-shadow: 6px 6px 0 #398BBA;

        table {
            white-space: nowrap;
            text-align: left;
        }

        td {
            border: none;
            padding: .5rem;
            border-right: 1px solid $lightblue;
        }
        td:not(:first-child) {
            font-weight: 300;
        }

        .contact {
            a {
                max-width: 300px;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $yellow;
                color: $black;
                text-decoration: none;
                padding: 1rem .5rem;
                font-size: 1rem;
                margin: 1rem auto;
                border: 0 3px 3px 0;

                i {
                    margin-right: .5rem;
                    font-size: 1.2rem;
                }
            }

            a:hover {
                background-color: #fff06a;
            }
        }
    }
}
header::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100vw;
    height: 80%;
    background-image: linear-gradient(to bottom right, $lightblue, $blue);

}

// news
.aktuality {
    padding-top: 0;
    background-color: $white;

    .aktualita {
        padding: 1.5rem 0;
        background-color: $lightblue-bg;
        margin-bottom: 2rem;

        h4 {
            padding: 0.5rem 0;
            margin: 0;
        }

        p {
            padding: 0;
        }

        h4, p, .link {
            padding: 0 1rem;
        }
    }
}

article {
    margin: 0 auto;
    max-width: 700px;
    padding: 5rem 1.5rem 2rem 1.5rem;

    h2 {
        margin-top: 2rem;
    }
}

.ordinace {
    background-color: $lightblue-bg;
    
    svg {
        height: 100%;
    }
}

.ordinace li, .cenik li {
    line-height: 130%;
    padding: .4rem 0;
}

.cenik {
    ul {
        border: 2px solid $lightblue;
        padding: 0;
        margin: 2rem 0 0 0;

        li {
            padding: 1rem .5rem;
            list-style-type: none;
        }

        li:nth-child(even) {
            background-color: $lightblue-bg;
        }
    }
}

// pojistovny
.pojistovny {
    img {
        max-height: 45px;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

.gallery {
    .col-md-6 {
        padding-bottom: 1rem;
    }
}

// sections
section {
    padding: 2rem;
}

// footer
footer {
    background-color: $darkblue;
    text-align: center;
    padding: 3rem;

    h4 {
        color: $white;
    }

    .list-group-item {
        background-color: $blue;
        color: $white;
    }
    .list-group-item-action {
        width: auto;
    }
}

footer svg {
    max-width: 150px;
    padding: 3rem 0;
}

@media (min-width: 992px) {
    .pojistovny {
        img {
            max-height: 55px;
        }
    }

    header {
        padding: 0;
        display: grid;
        grid-template-columns: 2rem 1fr 1fr 2rem;
        grid-template-rows: 100px auto auto 5rem;
        column-gap: 1rem;
        row-gap: 0;
        grid-template-areas:
        ". . . ."
        ". heading header-box ."
        ". svg header-box ."
        ". . header-box .";
    
        svg {
            justify-self: start ;
            align-self: end;
            max-width: 600px;
            grid-area: svg;
        }

        .heading {
            grid-area: heading;
            justify-self: start;
            padding: 0 0 3.5rem 0;
        }

        .header-box {
            text-align: left;
            width: auto;
            margin: 0;
            justify-self: start;
            align-self: end;
            grid-area: header-box;

            .contact {
                a {
                    padding: 1rem 1.2rem;
                    display: inline-block;
                    margin-right: 1.5rem;
                    transition: .25s ease-in-out;
                }
            }

        }
    }

    header::after {
        background-image: linear-gradient(to bottom, #D4F0FF, #43B5F5);
        position: relative;
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        height: 100%;
    }


}


@include media-breakpoint-up(xl) {

    .gallery {
        .col-md-6 {
            padding-bottom: 0;
        }
    }
    .aktuality {
        .aktualita {
            max-width: 32.33333%;
            margin: 0 .5% 2rem .5%;
        }
    }
}

@include media-breakpoint-up(xxl) {


    h2 {
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.3rem;
    }

    .link {
        font-size: 1.2rem;
    }

    header {
        grid-template-areas:
        ". . . ."
        ". svg heading ."
        ". svg header-box ."
        ". . header-box .";
    
        .heading {
            text-align: left;
            
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.5rem;
            }
        }

        .header-box {
            font-size: 1.15rem;

            .contact {
                a {
                    font-size: 1.2rem;
                }
            }
        }

    }

    .aktualita {
        font-size: 1.15rem;
    }
}


// modal lightbox
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
